# Виртуальное окружение (самое важное!)
venv/
.venv/
env/

# Кэш питона (мусор)
__pycache__/
*.py[cod]
*$py.class
*.so

# Локальные переменные с токенами (секретно!)
.env

# Настройки VS Code (не нужны другим)
.vscode/

# База данных (чтобы не залить личную БД на сервер)
data/
*.db
*.db-journal

# Системные файлы
.DS_Store